.judge-slider {
  display: grid;
  row-gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
  &--text {
    line-height: 1.5;
    font-weight: 700;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
  }

  &--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &--no-importance {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &--only-important {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
    margin-right: 0.5rem;
  }

  &--value {
    margin-left: 1rem;
    width: 10ch;
  }

  &--slider {
    width: 100%;
    border: 0px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    padding: 1rem 0;
    background-color: var(--background-color);
  }

  @mixin thumb {
    width: 25px;
    height: 25px;
    margin-top: -10px;
    border-radius: 50%;
    border-color: var(--slider-color);
    background: var(--slider-color);
    cursor: pointer;
  }
  &--slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @include thumb;
  }

  &--slider::-moz-range-thumb {
    @include thumb;
  }

  @mixin track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: var(--slider-color);
    border-radius: 1.3px;
  }
  &--slider::-webkit-slider-runnable-track {
    @include track;
  }

  &--slider::-moz-range-track {
    @include track;
  }

  &--slider-touched::-webkit-slider-thumb {
    background: var(--slider-color-touched);
  }

  &--slider-touched::-moz-range-thumb {
    background: var(--slider-color-touched);
  }

  &--slider-touched::-webkit-slider-runnable-track {
    background-image: linear-gradient(
      90deg,
      var(--slider-color-touched) var(--slider-value),
      transparent var(--slider-value)
    );
  }

  &--slider-touched::-moz-range-track {
    background-image: linear-gradient(
      90deg,
      var(--slider-color-touched) var(--slider-value),
      transparent var(--slider-value)
    );
  }
}
